In [1]:
import pandas as pd

In [2]:
col_list = ["URL"]
df = pd.read_csv("data_file_review.csv", usecols=col_list)

#print(df["URL"])
newList = df["URL"]
#print(newList[0])
for i in range(len(newList)):
    line1 = newList[i]
    #print(line1)
    line1 = line1.split("/")
    newList[i] = line1[len(line1)-2]
print(newList)

0         Reliance Industries Ltd
1         Reliance Industries Ltd
2         Reliance Industries Ltd
3         Reliance Industries Ltd
4         Reliance Industries Ltd
5         Reliance Industries Ltd
6         Reliance Industries Ltd
7                         Mphasis
8                            Kpmg
9         Reliance Industries Ltd
10        Reliance Industries Ltd
11        Reliance Industries Ltd
12                       Yes Bank
13                        Mphasis
14                        Mphasis
15                        Mphasis
16                           Kpmg
17                           Kpmg
18                           Kpmg
19        Reliance Industries Ltd
20        Reliance Industries Ltd
21        Reliance Industries Ltd
22                     Sutherland
23                       Yes Bank
24                       Yes Bank
25                       Yes Bank
26                       Yes Bank
27                       Yes Bank
28                        Mphasis
29                        Mphasis
                   ...
145179                       Tata
145180                       Tata
145181                       Tata
145182                       Tata
145183                       Tata
145184                       Tata
145185                       Tata
145186                       Tata
145187                       Tata
145188                       Tata
145189                       Tata
145190                       Tata
145191                       Tata
145192                       Tata
145193                       Tata
145194                       Tata
145195                       Tata
145196                       Tata
145197                       Tata
145198                       Tata
145199                       Tata
145200                       Tata
145201                       Tata
145202                       Tata
145203                       Tata
145204                       Tata
145205                       Tata
145206                       Tata
145207                       Tata
145208                       Tata
Name: URL, Length: 145209, dtype: object

In [3]:
uniq = list(set(newList))

In [6]:
df2 = pd.DataFrame(newList)
df2.to_csv('companies_from_reviews.csv')

In [4]:
df3 = pd.DataFrame(uniq)
df3.to_csv('companies_from_reviews_unique_replaced.csv')